<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-cogs"></i>
          <span>Настройки</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
          <li><a href=""><i class="fa fa-circle-o"></i> Регионы обслуживания</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Роли</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Права доступа</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Пользователи</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Логи действий</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Модули</a></li>
        </ul>
      </li>
      <li class="treeview active">
        <a href="#">
          <i class="fa fa-microchip"></i> <span>Коммутатор</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu menu-open" style="display: block;">
          <li><a routerLink="commutator" routerLinkActive="active"><i class="fa fa-circle-o"></i> Коммутаторы</a></li>
          <li><a routerLink="configs" routerLinkActive="active"><i class="fa fa-circle-o"></i> Конфигурационные файлы</a></li>
          <li class="">
            <a href="#"><i class="fa fa-circle-o"></i> Оборудование
              <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" style="display: none;">
              <li><a href="#"><i class="fa fa-circle-o"></i> Платформы</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Платы и настройки</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Транки</a></li>
              <li>
                <a href="#"><i class="fa fa-circle-o"></i> Настройки VOIP
                  <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                  <li><a href="#"><i class="fa fa-circle-o"></i> Настройки RTP-proxy</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Настройки групп RTP-proxy</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Настройки кодеков</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Настройки прокси-серверов SIP</a></li>
                  <li><a href="#"><i class="fa fa-circle-o"></i> Служебные сетевые интерфейсы</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Транковые группы
            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
          </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-circle-o"></i> Детекторы активности</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Детекторы завершения вызова</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Тоновые сигналы</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Факсимильные сообщения</a></li>
              <li><a href="#"><i class="fa fa-circle-o"></i> Настройки транковых групп VOIP</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="fa fa-circle-o"></i> СМС-центры</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-paw"></i>
          <span>SS7</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-server"></i>
          <span>СОРМ-шлюзы</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-wrench"></i>
          <span>Reviver</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-sign-language"></i>
          <span>ЦОВ</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
