body{
  height: 100%;
}
.content-wrapper, .main-footer, .main-header .navbar{
  margin-left: 330px;
}
.main-sidebar, .main-header .logo{
  width: 330px;
}
.box-header{
  border-bottom: 3px solid #d2d6de;
}
.box-header .form-group {
  margin-right: 10px;
}
.box-footer {
  border-top: 3px solid #d2d6de;
}


